body{
    box-sizing: border-box;
    background-color: #220623;
}



/* navbar */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.container-fluid img {
    width: 100px;
}

/* footer */
footer.bg-dark p {
    color: white;
    text-align: center;
}


/* profile */
div.row.gutters-sm {
    display:grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    padding: 1em;
}

.main-body {
    padding: 15px;
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    grid-column-start: 1;
    grid-column-end: 4;
}
div.col-md-4.mb-3 {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #5E1161;
    padding: 1em;
}
div.col-md-8 {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #5E1161;
    padding: 1em;
}
div.row {
    display: flex;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

h6, h4{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}


#btn-change-photo {
    display: grid;
    justify-self: center;
    margin-top: 1.2em;
}

/* edit profile part */

div#editFormProfile.container {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #5E1161;
    padding: 1em;
}

div.row.gutters {
    display: grid;
    width: 100%;
    grid-column-start: 0;
}
div.col-xl-3.col-lg-3.col-md-12.col-sm-12.col-12 {
    display:grid;
    width: 100%;
}


div#editProfile.card-body {
    display: grid;
    width: 100%;
    height: 100%;
}

div#rowProfile.row.gutters{
    display:grid;
    padding: 2em;
    grid-template-columns: 100%;
    grid-column-start:1;
    grid-column-end: 4;
}

div.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12 {
    width: 100%;
}

div.about p {
    color: black;
}

input#btn-change-photo.btn.btn-primary {
    display: inline-block;
    width: 100%;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}


/* friendship request */
.row.row-space-2 {
    display: grid;
    width: 100%;
    height: 100%;
}

.col-md-6.m-b-2 {
    display: grid;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    grid-template-columns: 25% 50% 25%;
    grid-column-start: 1;
    grid-column-end: 4;

}

.media.media-xs.overflow-visible {
    display: grid;
    grid-template-columns: 20% 35% 40%;
    background-color: white;
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
}

.p-10.bg-black{
    background-color: #5E1161;
    width: 100%;
}

.media-left {
    width: 100%;
    display: grid;
}

.media-left img {
    width: 70%;
    border-radius: 50%;
    display: grid;
    grid-column-start: 1;
}

.text-inverse {
    width: 100%;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-body.valign-middle {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn-group{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: white;
    margin-left: 20px;
}
