* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: hero-new, sans-serif;
    font-weight: 400;
    font-style: normal;
}
main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
footer {
    width: 100%;
    color: #C3C3C3;
    text-align: center;
}
#f-register {
    width: 50%;
    border: 1px solid #C3C3C3;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
}
#s-language {
    color: #C3C3C3;
    border: none;
}
.a-logo {
    width: 100%;
    display: block;
}
#logo {
    width: 50%;
    margin: 12px 0 12px 0;
}
.f-text {
    display: block;
    width: 100%;
    margin: 8px 0 8px 0;
    padding: 8px;
    border: 1px solid #C3C3C3;
    border-radius: 2px;
}
.f-m-btn {
    display: block;
    width: 100%;
    margin: 8px 0 8px 0;
    padding: 8px;
    color: white;
    background-color: #710273;
    border: none;
    border-radius: 2px;
}
.p-msg {
    color: #C3C3C3;
    font-size: 12px;
}
.p-msg span a {
    color: #362D36;
    text-decoration: none;
    font-weight: 600;
}
hr {
    border: 1px solid #f2f2f2;
    margin-top: 12px;
    margin-bottom: 12px;
}