*{
    display: block;
    margin: 0;
}

body{
    background-color: #961E9A;
}

.a-logo{
    width: 250px;
    height: auto;
    margin: auto;
    padding-top: 1em;
}

.form{
    width: 400px;
    height: 250px;
    margin: 5em auto;
    background-color: #FB91DA;
}

.f-text{
    width: 350px;
    margin: 1em auto;
}

.f-m-btn{
    margin-left: 25px;
}