body{
    box-sizing: border-box;
    background-color: #220623;
}
/* navbar */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.container-fluid img {
    width: 100px;
}

/* footer */
footer.bg-dark p {
    color: white;
    text-align: center;
}

/* user feed */
.container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.row{
    width: 100%;
    display: grid;
    justify-content: center;
}

h2,p,h3,h4 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

div.col-9 {
    display: grid;
    grid-template-columns: 25% 95%;
    grid-template-rows: 30%;
}

div.col-9 img {
    width: 80px;
    height: 80px;
    border-radius: 85%;
    justify-self: center;
}

div.col-9 h2 {
    justify-self: start;
    margin-left: 5%;
    font-size: 1.8em;
}

div.col-9 p {
    justify-self: start;
    grid-row-start: -1;
    margin-left: 5%;
    grid-column-end: 3;
}

.feed {
    display: grid;
    width: 98%;
    grid-template-columns: 50% 50%;
    background-color: #5E1161;
    margin-left: 12px;
    padding: 0.5em 0.5em;
    border-radius: 3%;
}

div.col-4 {
    display:grid;
    width: 300px;
    grid-template-columns: 100%;
    border-radius: 3%;
}

div.col-4 img {
    width: 280px;
    height: 150px;
    border-radius: 3%;
}

div.col-6 {
    display:grid;
    width: 250px;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25%;
    background-color: #5E1161;
    padding: 0.5em 0.8em;
    border-radius: 3%;
}

div.col-6 h3 {
    justify-self: start;
    grid-column-start: 1;
}

div.col-6 h4 {
    grid-column-start: 1;
}

div.col-6 p {
    grid-column-start: 1;
}

div.col-3 {
    display:grid;
    width: 600px;
    grid-template-columns: 33% 33% 33%;
    background-color: #961E9A;
    border-radius: 5px;
    margin-left: 13px;
}

.btn-info {
    background-color: #961E9A;
    color: white;
    border-color: #961E9A;
}

.btn-info img {
    color:white;
}


/* add feed button */

.add-feed {
    text-align: center;
    width: 100%;
    margin-top: 1%;
}

#btn-feed {
    width: 48px;
    border-radius: 100%;
}

#btn-feed img {
    width: 23px; 
}

/* form feed  */

.form-feed {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 30%;
    margin-top: 2%;
}

.mb-3 {
    background-color: #5E1161;
    margin-bottom: 0rem !important;
    padding: 1em;
    color: white;
}

/* search */
.searchResult{
    padding: 1em;
}